{% extends 'users/base.html' %}
{% load static %}

{% block body %}
<div class="container my-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-7">

                {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                    </div>
                {% endif %}

                <div class="card shadow-lg" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h1 class="mb-5">Создать новую копилку</h1>

                        <form action="{% url "banks:create_bank" %}" method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                {{ form.name }}
                                <label class="form-label" for="{{ form.name.id_for_label }}" style="margin-left: 0px;">На что хотите копить</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div>
                            </div>

                            <div class="form-outline mb-4">
                                {{ form.description }}
                                <label class="form-label" for="{{ form.description.id_for_label }}" style="margin-left: 0px;">Описание</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
                            </div>

                            <div class="form-outline mb-4">
                                {{ form.goal }}
                                <label class="form-label" for="{{ form.goal.id_for_label }}" style="margin-left: 0px;">Сколько хотите накопить</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
                            </div>

                            <div class="form-outline mb-4">
                                {{ form.currency }}
                                <label class="form-label" for="{{ form.currency.id_for_label }}" style="margin-left: 0px;">Сколько хотите накопить</label>
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input type="submit" class="btn btn-outline-dark btn-lg col-md-7" value="Новая копилка!">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}